{% extends 'EventHorizonRpgBundle::layout.html.twig' %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Edycja postaci{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><span class="divider">/</span> <a href="{{ path('character_show') }}">{% trans %}Postać{% endtrans %}</a></li>
    <li><span class="divider">/</span> <a href="{{ path('character_edit') }}">{% trans %}Edycja postaci{% endtrans %}</a></li>
{% endblock %}

{% block content %}
    <div class="span8 offset2 well">
        <a class="btn btn-info btn-small vertical_align_top" data-content="{% trans %}W tym oknie można zmienić podstawowe dane postaci, takie jak imię, datę urodzenia, płeć, zdjęcie.{% endtrans %}" data-original-title="{% trans %}Edycja postaci{% endtrans %}" data-trigger="hover" href="#" rel="popover"><i class="icon-question-sign icon-white"></i></a>
        <div class="page-header">
            <h3>{% trans %}Edycja postaci{% endtrans %}</h3>
        </div>
        <form action="{{ path('character_update') }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}
            <fieldset>
                <div class="control-group">
                    {{ form_errors(form.name) }}
                    {{ form_label(form.name, null, { 'label_attr': {'class': 'control-label'} }) }}
                    <div class="controls">
                        {{ form_widget(form.name, { 'attr': {'class': 'span5'} }) }}
                    </div>
                </div>
                <div class="control-group">
                    {{ form_errors(form.birth_date) }}
                    {{ form_label(form.birth_date, null, { 'label_attr': {'class': 'control-label'} }) }}
                    <div class="controls">
                        {{ form_widget(form.birth_date, { 'attr': {'class': 'span5'} }) }}
                    </div>
                </div>
                <div class="control-group">
                    {{ form_errors(form.gender) }}
                    {{ form_label(form.gender, null, { 'label_attr': {'class': 'control-label'} }) }}
                    <div class="controls">
                        {{ form_widget(form.gender, { 'attr': {'class': 'span5'} }) }}
                    </div>
                </div>
                <div class="control-group">
                    {{ form_errors(form.avatar_file) }}
                    {{ form_label(form.avatar_file, null, { 'label_attr': {'class': 'control-label'} }) }}
                    <div class="controls">
                        {{ form_widget(form.avatar_file, { 'attr': {'class': 'span5'} }) }}
                    </div>
                </div>
                <div class="accordion" id="accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                {% trans %}Więcej{% endtrans %} <i class="icon-chevron-down"></i>
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <div class="control-group">
                                    {{ form_errors(form.is_visible) }}
                                    {{ form_label(form.is_visible, null, { 'label_attr': {'class': 'control-label'} }) }}
                                    <div class="controls">
                                        {{ form_widget(form.is_visible, { 'attr': {'class': 'span5'} }) }}
                                    </div>
                                </div>
                                <div class="control-group" id="eventhorizon_rpgbundle_charactertype_public_profile_link">
                                    <div class="controls">
                                        {% trans %}Link do Twojego publicznego profilu{% endtrans %}<br />
                                        <a href="{{ url('show_character', { 'user_id': character.user.id }) }}">{{ url('show_character', { 'user_id': character.user.id }) }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_rest(form) }}
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">{% trans %}Zapisz{% endtrans %}</button>
                    <a class="btn" href="{{ path('character_show') }}">{% trans %}Anuluj{% endtrans %}</a>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
