<div class="span8 offset2 well">
    <a class="btn btn-info btn-small vertical_align_top" data-content="{% trans %}W tym oknie są wyświetlane wszystkie dane i statystyki postaci. Można tu obserwować jej postępy oraz planować przyszłe strategie rozwoju.{% endtrans %}" data-original-title="{% trans %}Postać{% endtrans %}" data-trigger="hover" href="#" rel="popover"><i class="icon-question-sign icon-white"></i></a>
    <div class="row">
        <div class="span3">
            <table class="font_weight_bold text_align_center width_100">
                <tr>
                    <td>
                        {% if character.avatar and character.checkAbsolutePath %}
                            <img alt="{% trans %}Awatar{% endtrans %}" class="margin_bottom_1em" src="{{ character.getWebPath | apply_filter('avatar_thumb') }}" />
                        {% else %}
                            {% if character.gender == 'female' %}
                                <img alt="{% trans %}Awatar{% endtrans %}" class="margin_bottom_1em" src="{{ asset('bundles/eventhorizonrpg/img/female.png') }}" />
                            {% else %}
                                <img alt="{% trans %}Awatar{% endtrans %}" class="margin_bottom_1em" src="{{ asset('bundles/eventhorizonrpg/img/male.png') }}" />
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% if access_mode == 'admin' %}
                    <tr>
                        <td>
                            <a class="btn" href="{{ path('character_edit') }}"><i class="icon-user"></i> {% trans %}Zmień{% endtrans %}</a>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
        <div class="span5">
            <table class="font_weight_bold width_100">
                <tr>
                    <td>{% trans %}Imię{% endtrans %}:</td>
                    <td colspan="2">
                        {% if character.name %}
                            {{ character.name }}
                        {% elseif access_mode == 'admin' %}
                            <a href="{{ path('character_edit') }}">{% trans %}uzupełnij{% endtrans %}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{% trans %}Data urodzenia{% endtrans %}:</td>
                    <td colspan="2">
                        {% if character.birthdate %}
                            {{ character.birthdate|date('Y-m-d') }}
                        {% elseif access_mode == 'admin' %}
                            <a href="{{ path('character_edit') }}">{% trans %}uzupełnij{% endtrans %}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{% trans %}Płeć{% endtrans %}:</td>
                    <td colspan="2">
                        {% if character.gender %}
                            {{ character.gender|trans }}
                        {% elseif access_mode == 'admin' %}
                            <a href="{{ path('character_edit') }}">{% trans %}uzupełnij{% endtrans %}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="3"><br /></td>
                </tr>
                <tr>
                    <td><h4><span data-content="<div class='font_size_14px font_weight_normal'>{% trans %}Poziom jest głównym wskaźnikiem postępu rozwoju postaci.{% endtrans %}</div>" data-original-title="{% trans %}Poziom{% endtrans %}" data-trigger="hover" rel="popover">{% trans %}Poziom{% endtrans %}</span>:</h4></td>
                    <td class="width_24px">
                        <h4 class="display_inline">{{ character.level }}</h4>
                    </td>
                    <td>
                        {% if access_mode == 'admin' %}
                            <a class="btn btn-mini btn-warning vertical_align_top" href="{{ path('reward') }}"><i class="icon-gift icon-white vertical_align_middle"></i> {% trans %}Nagrody{% endtrans %}</a>
                        {% elseif access_mode == 'visitor' %}
                            <a class="btn btn-mini btn-warning vertical_align_top" href="{{ path('show_rewards', { 'user_id': character.user.id }) }}"><i class="icon-gift icon-white vertical_align_middle"></i> {% trans %}Nagrody{% endtrans %}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><h4><span data-content="<div class='font_size_14px font_weight_normal'>{% trans %}Doświadczenie jest wskaźnikiem postępu rozwoju postaci. Im więcej dana postać wykona zadań, tym większe ma doświadczenie.{% endtrans %}</div>" data-original-title="{% trans %}Doświadczenie{% endtrans %}" data-trigger="hover" rel="popover">{% trans %}Doświadczenie{% endtrans %}</span>:</h4></td>
                    <td>
                        <h4 class="display_inline">{{ character.experience }}</h4>
                    </td>
                    <td>
                        {% if access_mode == 'admin' %}
                            <a class="btn btn-mini btn-primary vertical_align_top" href="{{ path('journal') }}"><i class="icon-tasks icon-white vertical_align_middle"></i> {% trans %}Zadania{% endtrans %}</a>
                        {% elseif access_mode == 'visitor' %}
                            <a class="btn btn-mini btn-primary vertical_align_top" href="{{ path('show_journals', { 'user_id': character.user.id }) }}"><i class="icon-tasks icon-white vertical_align_middle"></i> {% trans %}Zadania{% endtrans %}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="3" title="{{ character.experience }} / {{ required_experience }}" rel="tooltip">
                        <div class="progress"><div class="bar" style="width: {{ progress }}%;"></div></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="page-header"></div>
    <div class="row">
        <div class="span4">
            <table class="font_weight_bold table width_100">
                <caption class="padding_bottom_05em">
                    <h4>{% trans %}Cechy{% endtrans %}</h4>
                </caption>
                <tr>
                    <td class="width_25"><span data-content="<div class='font_size_14px font_weight_normal'>{% trans %}Charyzma - cecha odwzorowuje poziom umiejętności społecznych postaci.{% endtrans %}</div>" data-original-title="{% trans %}Charyzma{% endtrans %}" data-trigger="hover" rel="popover">{% trans %}Charyzma{% endtrans %}</span>:</td>
                    <td class="width_25">{{ character.attributecharisma }}</td>
                </tr>
                <tr>
                    <td><span data-content="<div class='font_size_14px font_weight_normal'>{% trans %}Mądrość - cecha odwzorowuje zdrowy rozsądek oraz poziom uduchowienia postaci.{% endtrans %}</div>" data-original-title="{% trans %}Mądrość{% endtrans %}" data-trigger="hover" rel="popover">{% trans %}Mądrość{% endtrans %}</span>:</td>
                    <td>{{ character.attributewisdom }}</td>
                </tr>
                <tr>
                    <td><span data-content="<div class='font_size_14px font_weight_normal'>{% trans %}Inteligencja - cecha odwzorowuje zdolność postaci do postrzegania, analizy, optymalnej adaptacji do zmian otoczenia oraz rozwiązywania problemów.{% endtrans %}</div>" data-original-title="{% trans %}Inteligencja{% endtrans %}" data-trigger="hover" rel="popover">{% trans %}Inteligencja{% endtrans %}</span>:</td>
                    <td>{{ character.attributeintelligence }}</td>
                </tr>
                <tr>
                    <td><span data-content="<div class='font_size_14px font_weight_normal'>{% trans %}Percepcja - cecha odwzorowuje otwartość postaci na otoczenie.{% endtrans %}</div>" data-original-title="{% trans %}Percepcja{% endtrans %}" data-trigger="hover" rel="popover">{% trans %}Percepcja{% endtrans %}</span>:</td>
                    <td>{{ character.attributeperception }}</td>
                </tr>
                <tr>
                    <td><span data-content="<div class='font_size_14px font_weight_normal'>{% trans %}Siła fizyczna - cecha odwzorowuje tężyznę postaci.{% endtrans %}</div>" data-original-title="{% trans %}Siła fizyczna{% endtrans %}" data-trigger="hover" rel="popover">{% trans %}Siła fizyczna{% endtrans %}</span>:</td>
                    <td>{{ character.attributestrength }}</td>
                </tr>
                <tr>
                    <td><span data-content="<div class='font_size_14px font_weight_normal'>{% trans %}Siła woli - cecha odwzorowuje poziom samodyscypliny i samokontroli postaci.{% endtrans %}</div>" data-original-title="{% trans %}Siła woli{% endtrans %}" data-trigger="hover" rel="popover">{% trans %}Siła woli{% endtrans %}</span>:</td>
                    <td>{{ character.attributewillpower }}</td>
                </tr>
                <tr>
                    <td><span data-content="<div class='font_size_14px font_weight_normal'>{% trans %}Szczęście - cecha odwzorowuje poziom szczęścia postaci.{% endtrans %}</div>" data-original-title="{% trans %}Szczęście{% endtrans %}" data-trigger="hover" rel="popover">{% trans %}Szczęście{% endtrans %}</span>:</td>
                    <td>{{ character.attributeluck }}</td>
                </tr>
                <tr>
                    <td><span data-content="<div class='font_size_14px font_weight_normal'>{% trans %}Wytrzymałość - cecha odwzorowuje poziom odporności postaci.{% endtrans %}</div>" data-original-title="{% trans %}Wytrzymałość{% endtrans %}" data-trigger="hover" rel="popover">{% trans %}Wytrzymałość{% endtrans %}</span>:</td>
                    <td>{{ character.attributeendurance }}</td>
                </tr>
                <tr>
                    <td><span data-content="<div class='font_size_14px font_weight_normal'>{% trans %}Zręczność - cecha odwzorowuje poziom zwinności postaci.{% endtrans %}</div>" data-original-title="{% trans %}Zręczność{% endtrans %}" data-trigger="hover" rel="popover">{% trans %}Zręczność{% endtrans %}</span>:</td>
                    <td>{{ character.attributeagility }}</td>
                </tr>
            </table>
        </div>
        <div class="span4">
            <table class="font_weight_bold table width_100">
                <caption class="padding_bottom_05em">
                    <h4>{% trans %}Współczynniki{% endtrans %}</h4>
                </caption>
                <tr>
                    <td class="width_25"><span data-content="<div class='font_size_14px font_weight_normal'>{% trans %}Dom - współczynnik odwzorowuje poziom zainteresowania postaci sprawami domowymi.{% endtrans %}</div>" data-original-title="{% trans %}Dom{% endtrans %}" data-trigger="hover" rel="popover">{% trans %}Dom{% endtrans %}</span>:</td>
                    <td class="width_25">{{ character.skillhome }}</td>
                </tr>
                <tr>
                    <td><span data-content="<div class='font_size_14px font_weight_normal'>{% trans %}Kultura - współczynnik odwzorowuje poziom zainteresowania postaci sprawami kultury materialnej i duchowej.{% endtrans %}</div>" data-original-title="{% trans %}Kultura{% endtrans %}" data-trigger="hover" rel="popover">{% trans %}Kultura{% endtrans %}</span>:</td>
                    <td>{{ character.skillculture }}</td>
                </tr>
                <tr>
                    <td><span data-content="<div class='font_size_14px font_weight_normal'>{% trans %}Nauka - współczynnik odwzorowuje poziom zainteresowania postaci edukacją i nauką.{% endtrans %}</div>" data-original-title="{% trans %}Nauka{% endtrans %}" data-trigger="hover" rel="popover">{% trans %}Nauka{% endtrans %}</span>:</td>
                    <td>{{ character.skilllearning }}</td>
                </tr>
                <tr>
                    <td><span data-content="<div class='font_size_14px font_weight_normal'>{% trans %}Praca - współczynnik odwzorowuje poziom zainteresowania postaci sprawami zawodowymi.{% endtrans %}</div>" data-original-title="{% trans %}Praca{% endtrans %}" data-trigger="hover" rel="popover">{% trans %}Praca{% endtrans %}</span>:</td>
                    <td>{{ character.skillwork }}</td>
                </tr>
                <tr>
                    <td><span data-content="<div class='font_size_14px font_weight_normal'>{% trans %}Rekreacja - współczynnik odwzorowuje poziom zainteresowania postaci aktywnym wypoczynkiem.{% endtrans %}</div>" data-original-title="{% trans %}Rekreacja{% endtrans %}" data-trigger="hover" rel="popover">{% trans %}Rekreacja{% endtrans %}</span>:</td>
                    <td>{{ character.skillrecreation }}</td>
                </tr>
                <tr>
                    <td><span data-content="<div class='font_size_14px font_weight_normal'>{% trans %}Rozrywka - współczynnik odwzorowuje poziom zainteresowania postaci rozrywką i zabawą.{% endtrans %}</div>" data-original-title="{% trans %}Rozrywka{% endtrans %}" data-trigger="hover" rel="popover">{% trans %}Rozrywka{% endtrans %}</span>:</td>
                    <td>{{ character.skillentertainment }}</td>
                </tr>
                <tr>
                    <td><span data-content="<div class='font_size_14px font_weight_normal'>{% trans %}Sport - współczynnik odwzorowuje poziom zainteresowania postaci aktywnością fizyczną i sportem.{% endtrans %}</div>" data-original-title="{% trans %}Sport{% endtrans %}" data-trigger="hover" rel="popover">{% trans %}Sport{% endtrans %}</span>:</td>
                    <td>{{ character.skillsport }}</td>
                </tr>
                <tr>
                    <td><span data-content="<div class='font_size_14px font_weight_normal'>{% trans %}Sztuka - współczynnik odwzorowuje poziom zainteresowania postaci sztuką.{% endtrans %}</div>" data-original-title="{% trans %}Sztuka{% endtrans %}" data-trigger="hover" rel="popover">{% trans %}Sztuka{% endtrans %}</span>:</td>
                    <td>{{ character.skillart }}</td>
                </tr>
                <tr>
                    <td><span data-content="<div class='font_size_14px font_weight_normal'>{% trans %}Uczynność - współczynnik odwzorowuje poziom zainteresowania postaci pomaganiem innym.{% endtrans %}</div>" data-original-title="{% trans %}Uczynność{% endtrans %}" data-trigger="hover" rel="popover">{% trans %}Uczynność{% endtrans %}</span>:</td>
                    <td>{{ character.skillhelpfulness }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
