{% extends '::base.html.twig' %}

{% block body %}
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{{ path('_homepage') }}">
                    {% trans %}getACTIVE!{% endtrans %}
                </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('sonata_admin_dashboard') }}" title="{% trans %}Administracja{% endtrans %}"><i class="icon-wrench icon-white"></i></a></li>
                        {% endif %}
                        {% if is_granted('ROLE_PLAYER') %}
                            <li><a href="{{ path('character_show') }}"><i class="icon-user icon-white"></i> {% trans %}Postać{% endtrans %}</a></li>
                            <li><a href="{{ path('journal') }}"><i class="icon-tasks icon-white"></i> {% trans %}Zadania{% endtrans %}</a></li>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="{% trans %}Ustawienia{% endtrans %}"><i class="icon-cog icon-white"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('account_edit') }}">{% trans %}Ustawienia{% endtrans %}</a></li>
                                    <li><a href="{{ path('fos_user_profile_edit') }}">{% trans %}Edycja profilu{% endtrans %}</a></li>
                                    <li><a href="{{ path('fos_user_change_password') }}">{% trans %}Zmiana hasła{% endtrans %}</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {% trans %}Wyloguj{% endtrans %}
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('fos_user_registration_register') }}">
                                    {% trans %}Rejestracja{% endtrans %}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_login') }}">
                                    {% trans %}Logowanie{% endtrans %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="nav pull-right">
                        <li><a href="{{ path('language', { 'language': 'en' }) }}" title="English"><i class="flag flag-gb"></i></a></li>
                        <li><a href="{{ path('language', { 'language': 'pl' }) }}" title="Polski"><i class="flag flag-pl"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!--[if lte IE 7]>
            <div class="alert alert-error offset3 span6">
                {% trans %}Używasz starej przeglądarki internetowej - przez to ta strona może działać niepoprawnie. Aby strona działała poprawnie, należy użyć{% endtrans %} <a href="https://www.google.com/chrome/">{% trans %}nowoczesnej przeglądarki{% endtrans %}</a>.
                <a class="close" data-dismiss="alert" href="#">&times;</a>
            </div>
        <![endif]-->

        {% if not app.request.cookies.has('accept_cookies_information') %}
            <div class="alert alert-block alert-error offset3 span6 fade in accept_cookies_information_alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>{% trans %}Pliki cookie pomagają nam udostępniać nasze usługi. Korzystając z tych usług, zgadzasz się na użycie plików cookie.{% endtrans %}</p>
                <p>
                    <a class="btn btn-primary accept_cookies_information_ok" href="#">{% trans %}Ok{% endtrans %}</a>
                </p>
            </div>
        {% endif %}

        <noscript>
            <div class="alert alert-error offset3 span6">
                {% trans %}Twoja przeglądarka nie obsługuje JavaScript.{% endtrans %}
                <a class="close" data-dismiss="alert" href="#">&times;</a>
            </div>
        </noscript>

        <div class="offset2 span8">
            <ul class="breadcrumb padding_right_2em width_100">
                <li><a href="{{ path('_homepage') }}">{% trans %}Strona główna{% endtrans %}</a></li>
                {% block breadcrumb %}{% endblock %}
            </ul>
        </div>

        {% if app.session.hasFlash('alert') %}
            <div class="alert offset3 span6">
                {{ app.session.flash('alert') }}
                <a class="close" data-dismiss="alert" href="#">&times;</a>
            </div>
        {% endif %}
        {% if app.session.hasFlash('error') %}
            <div class="alert alert-error offset3 span6">
                {{ app.session.flash('error') }}
                <a class="close" data-dismiss="alert" href="#">&times;</a>
            </div>
        {% endif %}
        {% if app.session.hasFlash('info') %}
            <div class="alert alert-info offset3 span6">
                {{ app.session.flash('info') }}
                <a class="close" data-dismiss="alert" href="#">&times;</a>
            </div>
        {% endif %}
        {% if app.session.hasFlash('success') %}
            <div class="alert alert-success offset3 span6">
                {{ app.session.flash('success') }}
                <a class="close" data-dismiss="alert" href="#">&times;</a>
            </div>
        {% endif %}

        {% block content %}{% endblock %}

        <div class="offset2 span8 well">
            <div class="row">
                <div class="span2">
                    <address>
                        <strong>&copy; {{ "now"|date("Y") }} <a href="http://eventhorizon.pl/">Event Horizon</a></strong><br>
                        <a href="mailto:support@getactive.pl">support@getactive.pl</a>
                    </address>
                </div>
                <div class="span6">
                    <div class="row">
                        <a class="margin_right_1em" href="{{ path('show_characters') }}"><i class="icon-user"></i> {% trans %}Postacie{% endtrans %}</a>
                        <a class="margin_right_1em" href="{{ path('show_statistics') }}"><i class="icon-align-left"></i> {% trans %}Statystyki{% endtrans %}</a>
                        <a class="margin_right_1em" href="{{ path('page_show', { 'name': 'media_partners' }) }}">{% trans %}Partnerzy medialni{% endtrans %}</a>
                        <a class="margin_right_1em" href="{{ path('page_show', { 'name': 'help' }) }}">{% trans %}Pomoc{% endtrans %}</a>
                        <a class="margin_right_1em" href="{{ path('page_show', { 'name': 'regulations' }) }}">{% trans %}Regulamin{% endtrans %}</a>
                    </div>
                    <div class="padding_top_2em row">
                        <a href="http://www.facebook.com/getactivepl" title="getactive.pl">Facebook</a>
                        <a href="http://glyphicons.com" title="glyphicons.com"><h6 class="display_inline font_size_8px">glyphicons.com</h6></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.accept_cookies_information_ok').click(function() {
                $.cookie('accept_cookies_information', 'true');
                $('.accept_cookies_information_alert').hide();
            });
        });
    </script>
{% endblock %}
