{% extends 'EventHorizonRpgBundle::layout.html.twig' %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Zadania{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    {% if is_completed == 0 %}
        <li><span class="divider">/</span> <a href="{{ path('journal', { 'mode': 'todo' }) }}">{% trans %}Zadania{% endtrans %} - {% filter lower %}{% trans %}Do wykonania{% endtrans %}{% endfilter %}</a></li>
    {% elseif is_completed == 1 %}
        <li><span class="divider">/</span> <a href="{{ path('journal', { 'mode': 'done' }) }}">{% trans %}Zadania{% endtrans %} - {% filter lower %}{% trans %}Wykonane{% endtrans %}{% endfilter %}</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'EventHorizonRpgBundle:Journal:List.html.twig' with { 'access_mode': 'admin' } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            {% if is_completed == 0 %}
                $("#mode_todo").addClass("active");
            {% elseif is_completed == 1 %}
                $("#mode_done").addClass("active");
            {% endif %}

            {% if type == "all" %}
                $("#type_all").addClass("active");
            {% elseif type == "dream" %}
                $("#type_dream").addClass("active");
            {% elseif type == "training" %}
                $("#type_training").addClass("active");
            {% elseif type == "standard" %}
                $("#type_standard").addClass("active");
            {% endif %}
        });
    </script>
{% endblock %}
