{% extends 'EventHorizonRpgBundle::layout.html.twig' %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Zadanie{% endtrans %}{% endfilter %} - {{ journal.quest.title }}
{% endblock %}

{% block breadcrumb %}
    {% if journal.isCompleted == 0 %}
        <li><span class="divider">/</span> <a href="{{ path('journal', { 'mode': 'todo' }) }}">{% trans %}Zadania{% endtrans %} - {% filter lower %}{% trans %}Do wykonania{% endtrans %}{% endfilter %}</a></li>
    {% elseif journal.isCompleted == 1 %}
        <li><span class="divider">/</span> <a href="{{ path('journal', { 'mode': 'done' }) }}">{% trans %}Zadania{% endtrans %} - {% filter lower %}{% trans %}Wykonane{% endtrans %}{% endfilter %}</a></li>
    {% endif %}
    <li><span class="divider">/</span> <a href="{{ path('journal_show', { 'id': journal.id }) }}">{% trans %}Zadanie{% endtrans %}</a></li>
{% endblock %}

{% block content %}
    {% include 'EventHorizonRpgBundle:Journal:Show.html.twig' with { 'access_mode': 'admin', 'display_mode': 'show' } %}
{% endblock %}
