<div class="span8 offset2 well">
    <a class="btn btn-info btn-small vertical_align_top" data-content="{% trans %}W tym oknie wyświetlana jest lista zadań użytkownika.<br /><br />Użytkownik wyznacza sobie kolejne cele (zadania). Realizując je zmienia i kształtuje swoje życie.{% endtrans %}" data-original-title="{% trans %}Zadania{% endtrans %}" data-trigger="hover" href="#" rel="popover"><i class="icon-question-sign icon-white"></i></a>
    <br /><br />
    <div class="row">
        <div class="span8">
            <ul class="nav nav-tabs">
                {% if access_mode == 'admin' %}
                    <li id="type_all"><a href="{{ path('journal', { 'mode': mode, 'type': 'all' }) }}">{% trans %}Wszystkie{% endtrans %}</a></li>
                    <li id="type_standard"><a href="{{ path('journal', { 'mode': mode, 'type': 'standard' }) }}">{% trans %}Standardowe{% endtrans %}</a></li>
                    <li id="type_dream"><a href="{{ path('journal', { 'mode': mode, 'type': 'dream' }) }}">{% trans %}Marzenia{% endtrans %}</a></li>
                    <li id="type_training"><a href="{{ path('journal', { 'mode': mode, 'type': 'training' }) }}">{% trans %}Treningi{% endtrans %}</a></li>
                {% elseif access_mode == 'visitor' %}
                    <li id="type_all"><a href="{{ path('show_journals', { 'user_id': user_id, 'mode': mode, 'type': 'all' }) }}">{% trans %}Wszystkie{% endtrans %}</a></li>
                    <li id="type_standard"><a href="{{ path('show_journals', { 'user_id': user_id, 'mode': mode, 'type': 'standard' }) }}">{% trans %}Standardowe{% endtrans %}</a></li>
                    <li id="type_dream"><a href="{{ path('show_journals', { 'user_id': user_id, 'mode': mode, 'type': 'dream' }) }}">{% trans %}Marzenia{% endtrans %}</a></li>
                    <li id="type_training"><a href="{{ path('show_journals', { 'user_id': user_id, 'mode': mode, 'type': 'training' }) }}">{% trans %}Treningi{% endtrans %}</a></li>
                {% endif %}
            </ul>
            <ul class="nav nav-tabs">
                {% if access_mode == 'admin' %}
                    <li id="mode_todo"><a href="{{ path('journal', { 'mode': 'todo', 'type': type }) }}">{% trans %}Do wykonania{% endtrans %}</a></li>
                    <li id="mode_done"><a href="{{ path('journal', { 'mode': 'done', 'type': type }) }}">{% trans %}Wykonane{% endtrans %}</a></li>
                {% elseif access_mode == 'visitor' %}
                    <li id="mode_todo"><a href="{{ path('show_journals', { 'user_id': user_id, 'mode': 'todo', 'type': type }) }}">{% trans %}Do wykonania{% endtrans %}</a></li>
                    <li id="mode_done"><a href="{{ path('show_journals', { 'user_id': user_id, 'mode': 'done', 'type': type }) }}">{% trans %}Wykonane{% endtrans %}</a></li>
                {% endif %}
            </ul>
            <h5 class="margin_bottom_1em">
                {% if is_completed == 0 %}
                    {% trans %}Liczba zadań do wykonania{% endtrans %}:
                {% elseif is_completed == 1 %}
                    {% trans %}Liczba wykonanych zadań{% endtrans %}:
                {% endif %}
                {{ journals|length }}
            </h5>
            {% if access_mode == 'admin' %}
                <a class="btn btn-primary" href="{{ path('quest_new') }}"><i class="icon-pencil icon-white"></i> {% trans %}Nowe zadanie{% endtrans %}</a>
            {% endif %}
        </div>
        <br /><br />
        {% for journal in journals %}
            {% include 'EventHorizonRpgBundle:Journal:Show.html.twig' with { 'display_mode': 'list' } %}
        {% endfor %}
    </div>
</div>
