{% if display_mode == 'show' %}
    <div class="span8 offset2 well">
        <a class="btn btn-info btn-small vertical_align_top" data-content="{% trans %}W tym oknie wyświetlane jest zadanie użytkownika.<br /><br />Użytkownik wyznacza sobie kolejne cele (zadania). Realizując je zmienia i kształtuje swoje życie.{% endtrans %}" data-original-title="{% trans %}Zadanie{% endtrans %}" data-trigger="hover" href="#" rel="popover"><i class="icon-question-sign icon-white"></i></a>
        <div class="page-header">
            <h3>{{ journal.quest.title }}</h3>
        </div>
{% endif %}

<div class="span7">
    {% if display_mode == 'list' %}
        <div class="page-header"></div>
        <h3>
            {% if access_mode == 'admin' %}
                <a href="{{ path('journal_show', { 'id': journal.id }) }}">{{ journal.quest.title|truncate(64) }}</a>
            {% elseif access_mode == 'visitor' %}
                <a href="{{ path('show_journal', { 'journal_id': journal.id, 'user_id': journal.user.id }) }}">{{ journal.quest.title|truncate(64) }}</a>
            {% endif %}
        </h3>
        <p>{{ journal.quest.content|truncate(256) }}</p>
    {% elseif display_mode == 'show' %}
        <p>{{ journal.quest.content }}</p>
    {% endif %}
    {% if journal.journal %}
        {% trans %}Zadanie nadrzędne{% endtrans %}:
        <ul>
            {% if access_mode == 'admin' %}
                <li>
                    <a href="{{ path('journal_show', { 'id': journal.journal.id }) }}">{{ journal.journal.quest.title|truncate(64) }}</a>
                </li>
            {% elseif access_mode == 'visitor' %}
                {% if journal.journal.isVisible %}
                    <li>
                        <a href="{{ path('show_journal', { 'journal_id': journal.journal.id, 'user_id': journal.journal.user.id }) }}">{{ journal.journal.quest.title|truncate(64) }}</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    {% endif %}
    {% if ((journal.quest.type == "dream") or (journal.quest.type == "training")) %}
        {% if journal.questCounter %}
            <div title="{{ journal.completedQuestCounter }} / {{ journal.questCounter }}" rel="tooltip">
                <div class="progress"><div class="bar" style="width: {{ ((journal.completedQuestCounter / journal.questCounter) * 100) }}%;"></div></div>
            </div>
            {% trans %}Podzadania{% endtrans %}:
            <ul>
                {% for subquest in journal.subQuest if (subquest.isHidden == 0) %}
                    {% if access_mode == 'admin' %}
                        <li class="padding_bottom_05em">
                            {% include 'EventHorizonRpgBundle:Journal:SidequestInfo.html.twig' %}
                            <a href="{{ path('journal_show', { 'id': subquest.id }) }}">{{ subquest.quest.title|truncate(64) }}</a>
                        </li>
                    {% elseif access_mode == 'visitor' %}
                        {% if subquest.isVisible %}
                            <li class="padding_bottom_05em">
                                {% include 'EventHorizonRpgBundle:Journal:SidequestInfo.html.twig' %}
                                <a href="{{ path('show_journal', { 'journal_id': subquest.id, 'user_id': subquest.user.id }) }}">{{ subquest.quest.title|truncate(64) }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
    <p class="font_size_11px font_weight_bold muted text_transform_uppercase">
        {% trans %}Wzrost cechy{% endtrans %}: {{ journal.quest.attributeReward|trans }}<br />
        {% trans %}Wzrost współczynnika{% endtrans %}: {{ journal.quest.skillReward|trans }}<br />
        {% trans %}Typ zadania{% endtrans %}: {{ journal.quest.type|trans }}
    </p>
    <div class="btn-toolbar">
        {% if journal.isCompleted == 0 %}
            {% if access_mode == 'admin' %}
                <div class="btn-group">
                    <a class="btn btn-success btn-mini complete_quest" data-confirm-cancel="{% trans %}Anuluj{% endtrans %}" data-confirm-direction="ltr" data-confirm-message="{% trans %}Czy na pewno chcesz zakończyć zadanie?{% endtrans %}" data-confirm-ok="{% trans %}Tak{% endtrans %}" data-confirm-title="{% trans %}Potwierdzenie{% endtrans %}" href="{{ path('journal_complete', { 'id': journal.id }) }}"><i class="icon-ok icon-white vertical_align_middle"></i> {% trans %}Zakończenie zadania{% endtrans %}</a>
                </div>

                <div class="btn-group">
                    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-cog vertical_align_middle"></i> {% trans %}Opcje{% endtrans %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if journal.quest.isGroupQuest == 0 %}
                            <li><a href="{{ path('quest_edit', { 'id': journal.quest.id }) }}"><i class="icon-edit"></i> {% trans %}Edycja zadania{% endtrans %}</a></li>
                        {% endif %}
                        <li><a class="hide_quest" data-confirm-cancel="{% trans %}Anuluj{% endtrans %}" data-confirm-direction="ltr" data-confirm-message="{% trans %}Czy na pewno chcesz ukryć zadanie?{% endtrans %}" data-confirm-ok="{% trans %}Tak{% endtrans %}" data-confirm-title="{% trans %}Potwierdzenie{% endtrans %}" href="{{ path('journal_hide', { 'id': journal.id }) }}"><i class="icon-eye-close"></i> {% trans %}Ukryj zadanie{% endtrans %}</a></li>
                    </ul>
                </div>
                {% if ((journal.quest.type == "dream") or (journal.quest.type == "training")) %}
                    <div class="btn-group">
                        <a class="btn btn-primary btn-mini" href="{{ path('quest_new', { journal_id: journal.id }) }}"><i class="icon-pencil icon-white"></i> {% trans %}Nowe podzadanie{% endtrans %}</a>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if display_mode == 'show' %}
            <div class="btn-group">
                {% if access_mode == 'admin' %}
                    {% if journal.isCompleted == 0 %}
                        <a class="btn btn-mini" href="{{ path('journal', { 'mode': 'todo' }) }}"><i class="icon-arrow-left vertical_align_middle"></i> {% trans %}Powrót{% endtrans %}</a>
                    {% elseif journal.isCompleted == 1 %}
                        <a class="btn btn-mini" href="{{ path('journal', { 'mode': 'done' }) }}"><i class="icon-arrow-left vertical_align_middle"></i> {% trans %}Powrót{% endtrans %}</a>
                    {% endif %}
                {% elseif access_mode == 'visitor' %}
                    {% if journal.isCompleted == 0 %}
                        <a class="btn btn-mini" href="{{ path('show_journals', { 'user_id': journal.user.id, 'mode': 'todo' }) }}"><i class="icon-arrow-left vertical_align_middle"></i> {% trans %}Powrót{% endtrans %}</a>
                    {% elseif journal.isCompleted == 1 %}
                        <a class="btn btn-mini" href="{{ path('show_journals', { 'user_id': journal.user.id, 'mode': 'done' }) }}"><i class="icon-arrow-left vertical_align_middle"></i> {% trans %}Powrót{% endtrans %}</a>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% if display_mode == 'show' %}
    </div>
{% endif %}
