{% if subquest.isCompleted == 0 %}
    <span class="label label-info l1-label" title="{% trans %}Zadanie czeka na wykonanie{% endtrans %}"><i class="icon-road icon-white"></i></span>
{% elseif subquest.isCompleted == 1 %}
    <span class="label label-success l1-label" title="{% trans %}Zadanie zostało zakończone{% endtrans %}"><i class="icon-thumbs-up icon-white"></i></span>
{% endif %}
{% if subquest.quest.type == "standard" %}
    <span class="label l1-label" title="{% trans %}Standardowe{% endtrans %}">S</span>
{% elseif subquest.quest.type == "dream" %}
    <span class="label label-warning l1-label" title="{% trans %}Marzenie{% endtrans %}">D</span>
{% elseif subquest.quest.type == "training" %}
    <span class="label label-important l1-label" title="{% trans %}Trening{% endtrans %}">T</span>
{% endif %}
