<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% trans %}An Error Occurred{% endtrans %}: {{ status_text }}</title>
</head>
<body>
    <h1>Oops! {% trans %}An Error Occurred{% endtrans %}</h1>
    <h2>{% trans %}The server returned a{% endtrans %} "{{ status_code }} {{ status_text }}".</h2>
</body>
</html>
