{% extends 'EventHorizonRpgBundle::layout.html.twig' %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Ustawienia{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><span class="divider">/</span> <a href="{{ path('account_edit') }}">{% trans %}Ustawienia{% endtrans %}</a></li>
{% endblock %}

{% block content %}
    <div class="span8 offset2 well">
        <div class="page-header">
            <h3>{% trans %}Ustawienia{% endtrans %}</h3>
        </div>
        <form action="{{ path('account_update') }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}
            <fieldset>
                <div class="control-group">
                    {{ form_errors(form.default_journal_is_visible) }}
                    {{ form_label(form.default_journal_is_visible, null, { 'label_attr': {'class': 'control-label'} }) }}
                    <div class="controls">
                        {{ form_widget(form.default_journal_is_visible, { 'attr': {'class': 'span5'} }) }}
                    </div>
                </div>
                {% if user.facebookId %}
                    <div class="control-group">
                        {{ form_errors(form.default_journal_publish_on_facebook) }}
                        {{ form_label(form.default_journal_publish_on_facebook, null, { 'label_attr': {'class': 'control-label'} }) }}
                        <div class="controls">
                            {{ form_widget(form.default_journal_publish_on_facebook, { 'attr': {'class': 'span5'} }) }}
                        </div>
                    </div>
                {% endif %}
                <div class="control-group">
                    {{ form_errors(form.default_reward_is_visible) }}
                    {{ form_label(form.default_reward_is_visible, null, { 'label_attr': {'class': 'control-label'} }) }}
                    <div class="controls">
                        {{ form_widget(form.default_reward_is_visible, { 'attr': {'class': 'span5'} }) }}
                    </div>
                </div>
                {{ form_rest(form) }}
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">{% trans %}Zapisz{% endtrans %}</button>
                    <a class="btn" href="{{ path('character_show') }}">{% trans %}Anuluj{% endtrans %}</a>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
