{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Edycja profilu{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><span class="divider">/</span> <a href="{{ path('fos_user_profile_show') }}">{% trans %}Profil{% endtrans %}</a></li>
    <li><span class="divider">/</span> <a href="{{ path('fos_user_profile_edit') }}">{% trans %}Edycja profilu{% endtrans %}</a></li>
{% endblock %}

{% block fos_user_content %}
    <div class="span4 offset4">
        {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
    </div>
{% endblock fos_user_content %}
