<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} class="well" method="POST">
    {{ form_errors(form) }}

    <h4>{% trans %}Edycja profilu{% endtrans %}</h4>
    <hr />
    {{ form_errors(form.username) }}
    {{ form_label(form.username) }}
    {{ form_widget(form.username, { 'attr': {'class': 'span3'} }) }}

    {{ form_errors(form.email) }}
    {{ form_label(form.email) }}
    {{ form_widget(form.email, { 'attr': {'class': 'span3'} }) }}

    {{ form_errors(form.current_password) }}
    {{ form_label(form.current_password) }}
    {{ form_widget(form.current_password, { 'attr': {'class': 'span3'} }) }}

    <button class="btn btn-primary" type="submit">{% trans %}Zapisz{% endtrans %}</button>

    {{ form_rest(form) }}
</form>
