{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Profil{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><span class="divider">/</span> <a href="{{ path('fos_user_profile_show') }}">{% trans %}Profil{% endtrans %}</a></li>
{% endblock %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
