{% extends 'EventHorizonRpgBundle::layout.html.twig' %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Edycja nagrody{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><span class="divider">/</span> <a href="{{ path('character_show') }}">{% trans %}Postać{% endtrans %}</a></li>
    <li><span class="divider">/</span> <a href="{{ path('reward') }}">{% trans %}Nagrody{% endtrans %}</a></li>
    <li><span class="divider">/</span> <a href="{{ path('reward_edit', { 'id': reward.id }) }}">{% trans %}Edycja nagrody{% endtrans %}</a></li>
{% endblock %}

{% block content %}
    {% include 'EventHorizonRpgBundle:Reward:Form.html.twig' with { 'display_mode': 'edit' } %}
{% endblock %}
