<div class="span8 offset2 well">
    {% if display_mode == 'new' %}
        <a class="btn btn-info btn-small vertical_align_top" data-content="{% trans %}W tym oknie można dodać nową nagrodę.<br /><br />Za wypełnienie szeregu zadań, użytkownik wyznacza sobie nagrodę, którą sobie zafunduje po ich ukończeniu. Nagroda pełni funkcję mobilizującą.{% endtrans %}" data-original-title="{% trans %}Nowa nagroda{% endtrans %}" data-trigger="hover" href="#" rel="popover"><i class="icon-question-sign icon-white"></i></a>
        <div class="page-header">
            <h3>{% trans %}Nowa nagroda{% endtrans %}</h3>
        </div>
        <form action="{{ path('reward_create') }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
    {% elseif display_mode == 'edit' %}
        <a class="btn btn-info btn-small vertical_align_top" data-content="{% trans %}W tym oknie można edytować opis nagrody.<br /><br />Za wypełnienie szeregu zadań, użytkownik wyznacza sobie nagrodę, którą sobie zafunduje po ich ukończeniu. Nagroda pełni funkcję mobilizującą.{% endtrans %}" data-original-title="{% trans %}Edycja nagrody{% endtrans %}" data-trigger="hover" href="#" rel="popover"><i class="icon-question-sign icon-white"></i></a>
        <div class="page-header">
            <h3>{% trans %}Edycja nagrody{% endtrans %}</h3>
        </div>
        <form action="{{ path('reward_update', { 'id': reward.id }) }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
    {% endif %}
        {{ form_errors(form) }}
        <fieldset>
            <div class="control-group">
                {{ form_errors(form.title) }}
                {{ form_label(form.title, null, { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(form.title, { 'attr': {'class': 'span5'} }) }}
                </div>
            </div>
            <div class="control-group">
                {{ form_errors(form.content) }}
                {{ form_label(form.content, null, { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(form.content, { 'attr': {'class': 'span5'} }) }}
                </div>
            </div>
            <div class="control-group">
                {{ form_errors(form.photo_file) }}
                {{ form_label(form.photo_file, null, { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(form.photo_file, { 'attr': {'class': 'span5'} }) }}
                </div>
            </div>
            <div class="accordion" id="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            {% trans %}Więcej{% endtrans %} <i class="icon-chevron-down"></i>
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="control-group">
                                {{ form_errors(form.is_visible) }}
                                {{ form_label(form.is_visible, null, { 'label_attr': {'class': 'control-label'} }) }}
                                <div class="controls">
                                    {{ form_widget(form.is_visible, { 'attr': {'class': 'span5'} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">{% trans %}Zapisz{% endtrans %}</button>
                <a class="btn" href="{{ path('reward') }}">{% trans %}Anuluj{% endtrans %}</a>
            </div>
        </fieldset>
    </form>
</div>
