<div class="span8 offset2 well">
    <a class="btn btn-info btn-small vertical_align_top" data-content="{% trans %}W tym oknie wyświetlana jest lista nagród użytkownika.<br /><br />Za wypełnienie szeregu zadań, użytkownik wyznacza sobie nagrodę, którą sobie zafunduje po ich ukończeniu. Nagroda pełni funkcję mobilizującą.{% endtrans %}" data-original-title="{% trans %}Nagrody{% endtrans %}" data-trigger="hover" href="#" rel="popover"><i class="icon-question-sign icon-white"></i></a>
    <br /><br />
    <div class="row">
        {% if access_mode == 'admin' %}
            <div class="span7">
                {% if new_reward %}
                    <h5>{% trans %}Nie masz jeszcze wybranej nagrody za osiągnięcie poziomu{% endtrans %}: {{ level }}</h5>
                {% else %}
                    <h5>{% trans %}Masz już wybraną nagrodę za osiągnięcie poziomu{% endtrans %}: {{ level }}</h5>
                {% endif %}
            </div>
            {% if new_reward %}
                <br /><br />
                <div class="span7">
                    <a class="btn btn-primary" href="{{ path('reward_new') }}"><i class="icon-gift icon-white"></i> {% trans %}Nowa nagroda{% endtrans %}</a>
                </div>
            {% endif %}
            <br /><br />
        {% endif %}
        {% for reward in rewards %}
            {% include 'EventHorizonRpgBundle:Reward:Show.html.twig' with { 'display_mode': 'list' } %}
        {% else %}
            {% if access_mode == 'visitor' %}
                <div class="span7">
                    {% trans %}Postać nie ma pokazanych żadnych nagród{% endtrans %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
