{% extends 'EventHorizonRpgBundle::layout.html.twig' %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Nowa nagroda{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><span class="divider">/</span> <a href="{{ path('character_show') }}">{% trans %}Postać{% endtrans %}</a></li>
    <li><span class="divider">/</span> <a href="{{ path('reward') }}">{% trans %}Nagrody{% endtrans %}</a></li>
    <li><span class="divider">/</span> <a href="{{ path('reward_new') }}">{% trans %}Nowa nagroda{% endtrans %}</a></li>
{% endblock %}

{% block content %}
    {% include 'EventHorizonRpgBundle:Reward:Form.html.twig' with { 'display_mode': 'new' } %}
{% endblock %}
