{% extends 'EventHorizonRpgBundle::layout.html.twig' %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Nagroda{% endtrans %}{% endfilter %} - {{ reward.title }}
{% endblock %}

{% block breadcrumb %}
    <li><span class="divider">/</span> <a href="{{ path('character_show') }}">{% trans %}Postać{% endtrans %}</a></li>
    <li><span class="divider">/</span> <a href="{{ path('reward') }}">{% trans %}Nagrody{% endtrans %}</a></li>
    {% if is_awarded %}
        <li><span class="divider">/</span> <a href="{{ path('reward_show_awarded', { 'id': reward.id }) }}">{% trans %}Nagroda{% endtrans %}</a></li>
    {% else %}
        <li><span class="divider">/</span> <a href="{{ path('reward_show', { 'id': reward.id }) }}">{% trans %}Nagroda{% endtrans %}</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'EventHorizonRpgBundle:Reward:Show.html.twig' with { 'access_mode': 'admin', 'display_mode': 'show' } %}
{% endblock %}
