{% extends 'EventHorizonRpgBundle::layout.html.twig' %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Nagrody{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><span class="divider">/</span> <a href="{{ path('character_show') }}">{% trans %}Postać{% endtrans %}</a></li>
    <li><span class="divider">/</span> <a href="{{ path('reward') }}">{% trans %}Nagrody{% endtrans %}</a></li>
{% endblock %}

{% block content %}
    {% include 'EventHorizonRpgBundle:Reward:List.html.twig' with { 'access_mode': 'admin' } %}
{% endblock %}
