{% if display_mode == 'show' %}
    <div class="span8 offset2 well">
        <a class="btn btn-info btn-small vertical_align_top" data-content="{% trans %}W tym oknie wyświetlana jest nagroda użytkownika.<br /><br />Za wypełnienie szeregu zadań, użytkownik wyznacza sobie nagrodę, którą sobie zafunduje po ich ukończeniu. Nagroda pełni funkcję mobilizującą.{% endtrans %}" data-original-title="{% trans %}Nagroda{% endtrans %}" data-trigger="hover" href="#" rel="popover"><i class="icon-question-sign icon-white"></i></a>
        <br /><br />
        <div class="row">
            {% if access_mode == 'admin' %}
                {% if is_awarded %}
                    <div class="span7">
                        <div class="page-header">
                            <h3>{% trans %}Gratulacje - masz nowy poziom! Dzięki wytrwałej pracy i pokonywaniu wyzwań osiągasz kolejny poziom. Możesz teraz sobie zafundować wymarzoną nagrodę.{% endtrans %}</h3>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
{% endif %}
<div class="span7">
    {% if display_mode == 'list' %}
        <div class="page-header"></div>
    {% endif %}
    {% if reward.photo and reward.checkAbsolutePath %}
        <img alt="{% trans %}Fotka{% endtrans %}" class="float_left margin_bottom_1em margin_right_1em" src="{{ reward.getWebPath | apply_filter('reward_thumb') }}" />
    {% else %}
        <img alt="{% trans %}Fotka{% endtrans %}" class="float_left margin_bottom_1em margin_right_1em" src="{{ asset('bundles/eventhorizonrpg/img/gift.png') }}" />
    {% endif %}
    {% if display_mode == 'list' %}
        {% if access_mode == 'admin' %}
            <h3><a href="{{ path('reward_show', { 'id': reward.id }) }}">{{ reward.title }}</a></h3>
        {% elseif access_mode == 'visitor' %}
            <h3><a href="{{ path('show_reward', { 'reward_id': reward.id, 'user_id': user_id }) }}">{{ reward.title }}</a></h3>
        {% endif %}
    {% elseif display_mode == 'show' %}
        <div class="page-header">
            <h3>{{ reward.title }}</h3>
        </div>
    {% endif %}
    <p>{{ reward.content }}</p>
    <h6 class="muted text_transform_uppercase">{% trans %}Poziom{% endtrans %}: {{ reward.level }}</h6>
    <div class="btn-toolbar">
        <div class="btn-group vertical_align_top">
            {% if reward.isAwarded == 0 %}
                <span class="label label-info l1-label"><i class="icon-road icon-white"></i> {% trans %}Do zdobycia{% endtrans %}</span>
            {% elseif reward.isAwarded == 1 %}
                <span class="label label-success l1-label"><i class="icon-thumbs-up icon-white"></i> {% trans %}Zdobyta{% endtrans %}</span>
            {% endif %}
        </div>
        {% if access_mode == 'admin' %}
            {% if reward.isAwarded == 0 %}
                <div class="btn-group">
                    <a class="btn btn-success btn-mini" href="{{ path('reward_edit', { 'id': reward.id }) }}"><i class="icon-edit icon-white vertical_align_middle"></i> {% trans %}Edycja nagrody{% endtrans %}</a>
                </div>
            {% elseif reward.isAwarded == 1 and reward.isReceived == 0 %}
                <div class="btn-group">
                    <a class="btn btn-warning btn-mini" href="{{ path('reward_receive', { 'id': reward.id }) }}"><i class="icon-gift icon-white vertical_align_middle"></i> {% trans %}Odebrana{% endtrans %}</a>
                </div>
            {% endif %}
        {% endif %}
        {% if display_mode == 'show' %}
            {% if access_mode == 'admin' %}
                {% if is_awarded %}
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href="{{ path('reward_new') }}"><i class="icon-gift icon-white vertical_align_middle"></i> {% trans %}Nowa nagroda{% endtrans %}</a>
                    </div>
                {% endif %}
                <div class="btn-group">
                    <a class="btn btn-mini" href="{{ path('reward') }}"><i class="icon-arrow-left vertical_align_middle"></i> {% trans %}Powrót{% endtrans %}</a>
                </div>
            {% elseif access_mode == 'visitor' %}
                <div class="btn-group">
                    <a class="btn btn-mini" href="{{ path('show_rewards', { 'user_id': user_id }) }}"><i class="icon-arrow-left vertical_align_middle"></i> {% trans %}Powrót{% endtrans %}</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
{% if display_mode == 'show' %}
        </div>
    </div>
{% endif %}
