<!DOCTYPE html>
<html>
    <head>
        {% include "::head.html.twig" %}
        {% include "::css.html.twig" %}
        {% block stylesheets %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div id="fb-root"></div>
        {% block body %}{% endblock %}
        {% include "::js.html.twig" %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
