<!--[if lte IE 8]>
    <script src="https://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js" type="text/javascript"></script>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
<![endif]-->
<link href="{{ asset('bundles/eventhorizonrpg/css/main.css') }}" type="text/css" rel="stylesheet" />
