<!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<![endif]-->
<meta charset="UTF-8" />
<meta name="description" content="getACTIVE! Dodaj element RPG do swojego życia! Wyznaczaj sobie cele, realizuj je i obserwuj rozwój swojej postaci. Podejmuj nowe wyzwania i mobilizuj się do ich wypełniania!" />
<meta name="keywords" content="getACTIVE, RPG, aktywne, mobilizacja, zadania, życie, active, life, mobilization, quests" />
<meta name="robots" content="index, follow" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
