<script src="{{ asset('bundles/eventhorizonrpg/js/main.js') }}" type="text/javascript"></script>
{% if app.environment == "prod" %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ google_analytics_account }}']);
        _gaq.push(['_setDomainName', '{{ google_analytics_domain_name }}']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = 'https://ssl.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
{% endif %}
<script type="text/javascript">
    window.fbAsyncInit = function() {
        FB.init({"appId": "{{ facebook_app_id }}","xfbml":true,"oauth":true,"status":false,"cookie":true,"logging":true});
        onFbInit();
    };

    function goLogIn() {
        window.location = "{{ path('_security_check') }}";
    }

    function onFbInit() {
        if (typeof(FB) != 'undefined' && FB != null ) {
            FB.Event.subscribe('auth.statusChange', function(response) {
                if (response.session || response.authResponse) {
                    setTimeout(goLogIn, 500);
                } else {
                    window.location.href = "{{ path('_security_logout') }}";
                }
            });
        }
    }

    (function() {
        var e = document.createElement('script');
        e.src = "https:\/\/connect.facebook.net\/{{ facebook_locale }}\/all.js";
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
    }());
</script>
