<h2>
Cel gry
</h2>
<p>
Celem gry getACTIVE! jest ułatwienie graczowi samorozwoju. W przeciwieństwie do innych gier getACTIVE!
nie zmusza gracza do spędzania wielu godzin przed komputerem. Wręcz przeciwnie - gra zachęca do
prowadzenia aktywnego życia.
</p>
<p>
Gra getACTIVE! nie jest zwykłą grą komputerową - getACTIVE! dodaje elementy gry RPG (role-playing game)
do życia człowieka.
</p>
<h2>
Postać
</h2>
<p>
W każdej grze RPG karta postaci jest bardzo ważnym elementem - są na niej wyświetlane różne cechy postaci.
</p>
<div id="myCarousel1" class="carousel slide">
  <div class="carousel-inner">
    <div class="active item">
        <img src="/images/help-s01.png" alt="">
        <div class="carousel-caption">
            <h4>Postać</h4>
            <p>Na tej stronie wyświetlane są podstawowe dane postaci.</p>
        </div>
    </div>
    <div class="item">
        <img src="/images/help-s02.png" alt="">
        <div class="carousel-caption">
            <h4>Edycja postaci</h4>
            <p>Jest możliwość zmiany podstawowych informacji opostaci.</p>
        </div>
    </div>
  </div>
  <a class="carousel-control left" href="#myCarousel1" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel1" data-slide="next">&rsaquo;</a>
</div>
<p>
W grze getACTIVE! na karcie postaci wyświetlane są następujące informacje:
</p>
<ul>
<li>imię postaci</li>
<li>data urodzenia postaci</li>
<li>płeć postaci</li>
<li>awatar</li>
</ul>
<p>
getACTIVE! to tylko gra - te dane mogą, ale nie muszą się pokrywać z prawdziwymi danymi gracza.
Jeśli gracz zdecyduje się na wykorzystanie własnych danych, nie zostaną one pokazane innym graczom bez jego zgody.
</p>
<p>
W getACTIVE! każda postać jest opisana następującymi cechami:
</p>
<ul>
<li>charyzma</li>
<li>mądrość</li>
<li>inteligencja</li>
<li>percepcja</li>
<li>siła fizyczna</li>
<li>siła woli</li>
<li>szczęście</li>
<li>wytrzymałość</li>
<li>zręczność</li>
</ul>
<p>
Cechy są parametrami postaci, których zmiana wymaga poświęcenia więcej czasu. Żeby zwiększyć cechę postaci,
trzeba wykonać więcej zadań niż żeby zmienić współczynnik.
</p>
<p>
Postać jest również opisywana przez współczynniki:
</p>
<ul>
<li>dom</li>
<li>kultura</li>
<li>nauka</li>
<li>praca</li>
<li>rekreacja</li>
<li>rozrywka</li>
<li>sport</li>
<li>sztuka</li>
<li>uczynność</li>
</ul>
<p>
Współczynniki są parametrami postaci, których zmiana nie wymaga poświęcenia dużej ilości czasu.
</p>
<p>
Do opisu postaci używane są też jeszcze parametry:
</p>
<ul>
<li>poziom</li>
<li>doświadczenie</li>
</ul>
<p>
Na początku gry postać jest w stanie "tabula rasa". Oznacza to, że nie ma jeszcze wybranego imienia,
wieku, płci. Postać jest na pierwszym poziomie z zerową ilością punktów doświadczenia. Wszystkie cechy
oraz współczynniki postaci mają wartość początkową 10.
</p>
<p>
Dopiero w czasie gry, przez podejmowanie kolejnych wyzwań, postać stopniowo zaczyna się rozwijać - jej
cechy i współczynniki zaczynają rosnąć i postać zdobywa kolejne poziomy.
</p>
<h2>
Zadania
</h2>
<p>
Każdy człowiek wykonując jakąś pracę czy zadania rozwija się określonym kierunku.
</p>
<div id="myCarousel2" class="carousel slide">
  <div class="carousel-inner">
    <div class="active item">
        <img src="/images/help-s03.png" alt="">
        <div class="carousel-caption">
            <h4>Nowe zadanie</h4>
            <p>Strona na której dodaje się nowe zadania.</p>
        </div>
    </div>
    <div class="item">
        <img src="/images/help-s04.png" alt="">
        <div class="carousel-caption">
            <h4>Lista zadań</h4>
            <p>Lista zadań do wykonania.</p>
        </div>
    </div>
  </div>
  <a class="carousel-control left" href="#myCarousel2" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel2" data-slide="next">&rsaquo;</a>
</div>
<p>
W grze getACTIVE! gracz tworzy sobie zadania w których podaje:
</p>
<ul>
<li>tytuł zadania</li>
<li>opis zadania</li>
<li>wybiera cechę która wzrośnie po wykonaniu określonej liczby zadań</li>
<li>wybiera współczynnik który wzrośnie po wykonaniu zadania</li>
</ul>
<p>
Przykładowym zadaniem może być wyjście na jakąś górę - tytuł zadania "wyjście na Giewont", w opisie
zadania można podać przykładowy termin i dodatkowe warunki - takie jak wyjście przy ładnej pogodnie.
Następnie trzeba wybrać cechę, która wzrośnie po wykonaniu zadania. Wyjście na Giewont nie jest
proste - na pewno przy wykonaniu zadania może wzrosnąć kilka cech - siła fizyczna, siła woli, wytrzymałość.
Można wybrać tylko jedną cechę, więc w naszym przykładzie niech to będzie wytrzymałość. Następnie trzeba
wybrać współczynnik, który wzrośnie po wykonaniu zadania. Po wykonaniu tego typu zadania może wzrosnąć
jeden z dwóch współczynników - rozrywka lub sport. W zależności od tego czy wychodzimy w góry dla rozrywki
czy dla sportu wybieramy odpowiedni współczynnik.
</p>
<p>
Po wykonaniu kilku zadań można zaobserwować jakie cechy i współczynniki rozwija nasza postać. Możemy
podjąć decyzję, że w danym czasie chcemy się skupić na pracy i nauce, dlatego będziemy rozwijać cechy
i współczynniki z tym związane. Po jakimś czasie jednak zobaczymy, że rozwój innych cech i współczynników
został trochę zaniedbany. Dlatego może warto by było poświęcić trochę czasu na rozrywkę i sport?
</p>
<p>
getACTIVE! pomaga śledzić rozwój naszej postaci. Może też pomóc we właściwym zbalansowaniu zadań i wyzwań
jakie podejmujemy w życiu.
</p>
<p>
Dzięki getACTIVE! możemy planować wykonanie całych serii zadań, które mogą mieć związek na przykład z jakimś
programem treningowym, który sobie ułożyliśmy.
</p>
<h2>
Nagrody
</h2>
<p>
W każdej grze RPG za wykonywanie zadań gracz otrzymuje jakieś nagrody. Nagrody pełnią pewną funkcję
mobilizacyjną - są bonusem dla gracza za wykonanie określonej liczby zadań.
</p>
<div id="myCarousel3" class="carousel slide">
  <div class="carousel-inner">
    <div class="active item">
        <img src="/images/help-s05.png" alt="">
        <div class="carousel-caption">
            <h4>Nowa nagroda</h4>
            <p>W tym oknie możemy dodać nową nagrodę.</p>
        </div>
    </div>
    <div class="item">
        <img src="/images/help-s06.png" alt="">
        <div class="carousel-caption">
            <h4>Lista nagród</h4>
            <p>Na tej stronie jest wyświetlana lista nagród, które zdobył gracz.</p>
        </div>
    </div>
  </div>
  <a class="carousel-control left" href="#myCarousel3" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel3" data-slide="next">&rsaquo;</a>
</div>
<p>
W grze getACTIVE! użytkownik sam wyznacza nagrodę jaką sobie zafunduje za wykonanie serii zadań. Tak jak
w zwykłej grze RPG nagroda pełni funkcję mobilizacyjną do wykonywania zadań, ale nie zawsze jej
osiągnięcie powinno być celem samym w sobie.
</p>
<p>
Głównym celem w grze jest rozwój swojej postaci przez podejmowanie kolejnych wyzwań. Nagroda powinna
być tylko małym mobilizatorem :)
</p>
