<h2>
Przyjęcie zasad umowy
</h2>
<p>
Niniejszy regulamin ("Zasady Użytkowania") stanowi składnik umowy prawnej pomiędzy użytkownikiem a firmą Event Horizon.
Niniejsze Zasady Użytkowania stanowią również regulamin świadczenia usług drogą elektroniczną, o którym mowa w polskiej
ustawie o świadczeniu usług drogą elektroniczną.
</p>
<h2>
Modyfikacja niniejszych zasad użytkowania
</h2>
<p>
Event Horizon zastrzega sobie prawo do zmiany zasad, warunków i oświadczeń dotyczących korzystania z Gry. Użytkownik
powinien regularnie przeglądać niniejsze Zasady Użytkowania. Korzystanie przez Użytkownika z Gry po dokonaniu zmiany
Zasad Użytkowania oznacza zgodę użytkownika na zmianę.
</p>
<h2>
Ograniczenia dotyczące użytkowania osobistego i niekomercyjnego
</h2>
<p>
Niedozwolone są wiadomości łańcuszkowe oraz piramidy finansowe. Użytkownikowi nie wolno wykorzystywać Gry do zbierania
informacji na temat użytkowników, w tym, lecz nie wyłącznie, loginów i haseł, a korzystanie z jakichkolwiek tego typu
informacji w celu wysyłania niechcianych e-maili lub dla jakiegokolwiek innego powodu, jest surowo wzbronione. Jakiekolwiek
naruszenie niniejszych przepisów może spowodować niezwłoczne wypowiedzenie konta użytkownika i dalsze działania o charakterze
prawnym według uznania Event Horizon.
</p>
<p>
Elementy komunikacyjne dostarczone przez Event Horizon, w tym, lecz nie wyłącznie, fora, czaty i serwisy BBS stanowią darmowe
usługi oferowane użytkownikom. Zamieszczając wiadomości, tworząc bądź modyfikując stronę domową, rozmawiając za pośrednictwem czatu,
zamieszczając pliki, wprowadzając dane, przesyłając e-mail lub biorąc udział w jakiejkolwiek innej formie komunikacji
(indywidualnie lub zbiorczo "Komunikacja") skierowanej do lub przechodzącej przez Grę, użytkownik wyraża zgodę na bycie
zobowiązanych przez niniejsze zasady i warunki.
</p>
<ul>
<li>
Za wszelką Komunikację odpowiadają wyłącznie osoby ją zamieszczające. Event Horizon nie jest zobowiązana do monitorowania
bądź nadzorowania treści Komunikacji i wyraźnie zrzeka się jakiegokolwiek zapewnienia, że będzie ją monitorować lub nadzorować,
ale również wyraźnie zastrzega sobie prawo do monitorowania bądź nadzorowania jej według swojego wyłącznego uznania.
</li>
<li>
Event Horizon nie kontroluje treści jakiejkolwiek Komunikacji i nie gwarantuje ścisłości, uczciwości czy jakości jakiejkolwiek jej części.
</li>
<li>
Użytkownik poświadcza, że korzystając z elementów komunikacyjnych dostępnych w Grze może być narażony na Komunikację i inne treści
o charakterze obraźliwym, nieprzyzwoitym lub niestosownym wysyłane przez innych użytkowników.
</li>
<li>
Event Horizon nie będzie w żadnym wypadku odpowiedzialna za jakiekolwiek błędy lub pominięcia w jakiejkolwiek Komunikacji
lub za wszelkie straty bądź uszkodzenia jakiegokolwiek rodzaju poniesione w wyniku wykorzystania jakichkolwiek informacji
zawartych w elementach komunikacyjnych zapewnionych w Grze, z zastrzeżeniem ograniczeń wyłączenia odpowiedzialności przewidzianych przez prawo.
</li>
<li>
W przypadku, gdy Event Horizon otrzyma powiadomienie o rzekomym naruszaniu przez użytkownika niniejszych Zasad Użytkowania
w zakresie Komunikacji, może zbadać zarzuty i zadecydować w dobrej wierze i według swojego wyłącznego uznania czy usunąć
bądź zażądać usunięcia Komunikacji.
</li>
<li>
Event Horizon zastrzega sobie prawa do usunięcia użytkowników z Gry oraz zapobiegania ich dalszemu dostępowi do Gry
za naruszenie niniejszych Zasad Użytkowania lub złamanie prawa. Event Horizon zastrzega sobie również prawo do usunięcia
Komunikacji, która ma charakter obraźliwy, nielegalny, lekceważący bądź szkodliwy.
</li>
<li>
Event Horizon zastrzega sobie prawo do ujawnienia odpowiednim władzom informacji o naruszeniu naszych standardów
lub popełnienia jakiegokolwiek czynu niedozwolonego, jeśli zostanie wezwana do sądu w sprawie tych informacji
lub jeśli Event Horizon uzna to za konieczne lub właściwe.
</li>
<li>
Event Horizon zastrzega sobie prawo do wypowiedzenia konta użytkownikowi, który naruszy następujące Zasady Postępowania.
</li>
</ul>
<h2>
Zasady postępowania
</h2>
<p>
Użytkownik naruszy Zasady Użytkowania, jeśli dopuści się (bądź inna osoba korzystająca z konta użytkownika) następujących czynów:
</p>
<ul>
<li>
Umieszczania, przesyłania, promowania bądź rozpowszechniania Komunikacji lub treści o charakterze nielegalnym.
</li>
<li>
Prześladowania, grożenia, wprawiania w zakłopotanie lub śledzenia innego użytkownika.
</li>
<li>
Umieszczania treści lub przesyłania Komunikacji w jakiejkolwiek formie atakującej czyjąś rasę, orientację seksualną,
religię, przynależność narodową, poglądy polityczne lub dziedzictwo etniczne.
</li>
<li>
Przesyłania bądź ułatwiania dystrybucji treści lub komunikacji szkodliwych, obelżywych, obraźliwych na tle rasowym
lub etnicznym, wulgarnych, niedwuznacznych seksualnie, szkalujących, zagrażających, naruszających prywatność osobistą
lub prawa do wizerunku lub budzących sprzeciw według racjonalnej opinii.
</li>
<li>
Zamieszczania lub przekazywania "mowy nienawiści".
</li>
<li>
Podawania się za inną osobę (łącznie z osobami sławnymi), podszywania się za pracownika Event Horizon lub jej przedstawiciela,
usiłowania oszukania użytkowników poprzez sugerowanie, że reprezentuje Event Horizon bądź któregokolwiek z jej partnerów lub oddział.
</li>
<li>
Usiłowania zdobycia hasła, adresu domowego, numeru karty kredytowej, informacji o koncie bądź wszelkich innych informacji
prywatnych od jakiegokolwiek innego użytkownika Gry.
</li>
<li>
Załączania lub rozpowszechniania jakiegokolwiek oprogramowania bądź treści na rozpowszechnianie, którego nie posiada zezwolenia.
</li>
<li>
Promowania bądź zachęcania do czynów nielegalnych, łącznie z włamywaniem się, łamaniem zabezpieczeń czy rozpowszechnianiem
podrobionego oprogramowania.
</li>
<li>
Załączania plików zawierających wirusa lub uszkodzone dane.
</li>
<li>
Zamieszczania komunikacji w jakimkolwiek innym celu niż komunikacja osobista lub przesyłania reklam, materiałów promocyjnych,
wiadomości łańcuszkowych, piramid finansowych bądź komercyjnego wykorzystywania naszych stron.
</li>
<li>
Naruszania zasad użytkowania narzędzi strony trzeciej, interaktywnych dostawców usług, prawa powszechnego lub lokalnego
bądź prawa innego kraju czy prawa międzynarodowego, stosownie do sytuacji.
</li>
<li>
Fałszowania bądź kasowania jakichkolwiek oznaczeń autorstwa, prawnych bądź innych odpowiednich oznaczeń bądź
zastrzeżonych opisów lub oznakowań pochodzenia lub źródła oprogramowania bądź innego materiału zawartego w pliku,
który został załączony, oznaczeń własności czy etykiet pochodzenia lub źródła oprogramowania czy innego materiału
zawartego w załączanym pliku.
</li>
<li>
Ograniczania bądź pozbawienia innego użytkownika możliwości korzystania z elementów komunikacyjnych w Grze.
</li>
</ul>
<h2>
Zachowanie niezgodne z prawem
</h2>
<p>
Zachowanie niezgodne z prawem obejmujące wykorzystywanie jakiejkolwiek ze stron będzie powodem wypowiedzenia konta użytkownika.
Event Horizon będzie w pełni współpracować z przedstawicielami organów egzekwowania prawa w takich sprawach i ścigać sądownie
takie przestępstwa ze wszystkimi konsekwencjami prawnymi.
</p>
<h2>
Odszkodowanie
</h2>
<p>
Użytkownik wyraża zgodę na ponoszenie osobistej odpowiedzialności za korzystanie z Gry i za całą swoją komunikację i działalność w Grze,
łącznie z wszelkimi treściami, które umieszcza oraz na zabezpieczenie, obronę i zwolnienie od odpowiedzialności Event Horizon od i przed
wszystkimi bez wyjątku roszczeniami, odpowiedzialnością, kosztami i wydatkami (łącznie z kosztami pomocy prawnej w racjonalnej wysokości)
poniesionymi przez Event Horizon w związku z korzystaniem bądź rzekomym korzystaniem ze stron przez użytkownika, w tym zachowaniem
użytkownika i wszelką komunikacją lub treścią, którą użytkownik wnosi na strony.
</p>
<h2>
Czas trwania usług online
</h2>
<p>
Niniejsza Gra jest grą online, w którą należy grać przez internet za pośrednictwem Usługi dostarczanej przez Event Horizon.
Użytkownik rozumie i zgadza się, że Usługa jest dostarczana wedle uznania Event Horizon i może być zakończona bądź przerwana
przez Event Horizon zgodnie z regulaminem.
</p>
