<a href="http://eventhorizon.pl/" title="eventhorizon.pl">eventhorizon.pl</a>
<a href="http://www.tawerna.rpg.pl/forum/" title="Forum Tawerny RPG"><img alt="Forum Tawerny RPG" src="http://www.tawerna.rpg.pl/forum/styles/prosilver/imageset/logo-trpg.jpg" /></a>
<a href="http://www.miastogier.pl/" title="www.MiastoGier.pl"><img alt="www.MiastoGier.pl" src="http://www.miastogier.pl/baza/img/logoMG.png" /></a>
<a href="http://strefa-sesji-rpg.cba.pl/" title="Strefa Sesji RPG"><img alt="Strefa Sesji RPG" src="http://strefa-sesji-rpg.cba.pl/forum/styles/chronicles/theme/images/ssr_title.png" /></a>
