{% extends 'EventHorizonRpgBundle::layout.html.twig' %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Edycja zadania{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><span class="divider">/</span> <a href="{{ path('journal', { 'mode': 'todo' }) }}">{% trans %}Zadania{% endtrans %} - {% filter lower %}{% trans %}Do wykonania{% endtrans %}{% endfilter %}</a></li>
    <li><span class="divider">/</span> <a href="{{ path('quest_edit', { 'id': quest.id }) }}">{% trans %}Edycja zadania{% endtrans %}</a></li>
{% endblock %}

{% block content %}
    {% include 'EventHorizonRpgBundle:Quest:Form.html.twig' with { 'display_mode': 'edit' } %}
{% endblock %}
