<div class="span8 offset2 well">
    {% if display_mode == 'new' %}
        <a class="btn btn-info btn-small vertical_align_top" data-content="{% trans %}W tym oknie można dodać nowe zadanie.<br /><br />Użytkownik wybiera cechę oraz współczynnik postaci, które wzrosną po wykonaniu tego zadania.<br /><br />Użytkownik wyznacza sobie kolejne cele (zadania). Realizując je zmienia i kształtuje swoje życie.{% endtrans %}" data-original-title="{% trans %}Nowe zadanie{% endtrans %}" data-trigger="hover" href="#" rel="popover"><i class="icon-question-sign icon-white"></i></a>
        <div class="page-header">
            <h3>{% trans %}Nowe zadanie{% endtrans %}</h3>
        </div>
        <form action="{{ path('quest_create', { 'journal_id': journal_id }) }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
    {% elseif display_mode == 'edit' %}
        <a class="btn btn-info btn-small vertical_align_top" data-content="{% trans %}W tym oknie można edytować opis zadania.<br /><br />Użytkownik wybiera cechę oraz współczynnik postaci, które wzrosną po wykonaniu tego zadania.<br /><br />Użytkownik wyznacza sobie kolejne cele (zadania). Realizując je zmienia i kształtuje swoje życie.{% endtrans %}" data-original-title="{% trans %}Edycja zadania{% endtrans %}" data-trigger="hover" href="#" rel="popover"><i class="icon-question-sign icon-white"></i></a>
        <div class="page-header">
            <h3>{% trans %}Edycja zadania{% endtrans %}</h3>
        </div>
        <form action="{{ path('quest_update', { 'id': quest.id }) }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
    {% endif %}
        {{ form_errors(form) }}
        <fieldset>
            <div class="control-group">
                {{ form_errors(form.title) }}
                {{ form_label(form.title, null, { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(form.title, { 'attr': {'class': 'span5'} }) }}
                </div>
            </div>
            <div class="control-group">
                {{ form_errors(form.content) }}
                {{ form_label(form.content, null, { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(form.content, { 'attr': {'class': 'span5'} }) }}
                </div>
            </div>
            <div class="control-group">
                {{ form_errors(form.attribute_reward) }}
                {{ form_label(form.attribute_reward, null, { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(form.attribute_reward, { 'attr': {'class': 'span5'} }) }}
                </div>
            </div>
            <div class="control-group">
                {{ form_errors(form.skill_reward) }}
                {{ form_label(form.skill_reward, null, { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(form.skill_reward, { 'attr': {'class': 'span5'} }) }}
                </div>
            </div>
            <div class="accordion" id="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            {% trans %}Więcej{% endtrans %} <i class="icon-chevron-down"></i>
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="control-group">
                                {{ form_errors(form.is_visible) }}
                                {{ form_label(form.is_visible, null, { 'label_attr': {'class': 'control-label'} }) }}
                                <div class="controls">
                                    {{ form_widget(form.is_visible, { 'attr': {'class': 'span5'} }) }}
                                </div>
                            </div>
                            <div class="{% if user.facebookId is not defined or user.facebookId is null  %}display_none{% endif %}">
                                <div class="control-group" id="eventhorizon_rpgbundle_questtype_publish_on_facebook_select">
                                    {{ form_errors(form.publish_on_facebook) }}
                                    {{ form_label(form.publish_on_facebook, null, { 'label_attr': {'class': 'control-label'} }) }}
                                    <div class="controls">
                                        {{ form_widget(form.publish_on_facebook, { 'attr': {'class': 'span5'} }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                {{ form_errors(form.type) }}
                                {{ form_label(form.type, null, { 'label_attr': {'class': 'control-label'} }) }}
                                <div class="controls">
                                    {{ form_widget(form.type, { 'attr': {'class': 'span5'} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">{% trans %}Zapisz{% endtrans %}</button>
                <a class="btn" href="{{ path('journal', { 'mode': 'todo' }) }}">{% trans %}Anuluj{% endtrans %}</a>
            </div>
        </fieldset>
    </form>
</div>
