{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Rejestracja{% endtrans %}{% endfilter %}
{% endblock %}

{% block fos_user_content %}
    <div class="span8 offset2 well">
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
        {% if app.session is not empty %}
            {% set targetUrl = app.session.get('_security.target_path') %}
            {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
        {% endif %}
    </div>
{% endblock fos_user_content %}
