{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Rejestracja{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><span class="divider">/</span> <a href="{{ path('fos_user_registration_register') }}">{% trans %}Rejestracja{% endtrans %}</a></li>
{% endblock %}

{% block fos_user_content %}
    <div class="span4 offset4">
        {% include "FOSUserBundle:Registration:register_content.html.twig" with { 'show_well': true } %}
    </div>
{% endblock fos_user_content %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#fos_user_registration_form_username").focus();
        });
    </script>
{% endblock %}
