<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} {% if show_well %}class="well"{% endif %} method="POST">
    {{ form_errors(form) }}

    <h4>{% trans %}Rejestracja{% endtrans %}</h4>
    <hr />
    {{ form_errors(form.username) }}
    {{ form_label(form.username) }}
    {{ form_widget(form.username, { 'attr': {'class': 'span3'} }) }}

    {{ form_errors(form.email) }}
    {{ form_label(form.email) }}
    {{ form_widget(form.email, { 'attr': {'class': 'span3'} }) }}

    {{ form_errors(form.plainPassword.first) }}
    {{ form_label(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'span3'} }) }}

    {{ form_errors(form.plainPassword.second) }}
    {{ form_label(form.plainPassword.second) }}
    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'span3'} }) }}

    <br /><br />
    {% trans %}Klikając "Zarejestruj" akceptujesz{% endtrans %}
    <a href="{{ path('page_show', { 'name': 'regulations' }) }}">{% trans %}regulamin{% endtrans %}</a>
    <br /><br />
    <button class="btn btn-primary" type="submit">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>

    {{ form_rest(form) }}
</form>
