<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} class="well" method="POST">
    {{ form_errors(form) }}

    <h4>{% trans %}Zmiana hasła{% endtrans %}</h4>
    <hr />
    {{ form_errors(form.current_password) }}
    {{ form_label(form.current_password) }}
    {{ form_widget(form.current_password, { 'attr': {'class': 'span3'} }) }}

    {{ form_errors(form.new.first) }}
    {{ form_label(form.new.first) }}
    {{ form_widget(form.new.first, { 'attr': {'class': 'span3'} }) }}

    {{ form_errors(form.new.second) }}
    {{ form_label(form.new.second) }}
    {{ form_widget(form.new.second, { 'attr': {'class': 'span3'} }) }}

    <button class="btn btn-primary" type="submit">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>

    {{ form_rest(form) }}
</form>
