{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Zmiana hasła{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><span class="divider">/</span> <a href="{{ path('fos_user_change_password') }}">{% trans %}Zmiana hasła{% endtrans %}</a></li>
{% endblock %}

{% block fos_user_content %}
    <div class="span4 offset4">
        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
    </div>
{% endblock fos_user_content %}
