{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Logowanie{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><span class="divider">/</span> <a href="{{ path('fos_user_security_login') }}">{% trans %}Logowanie{% endtrans %}</a></li>
{% endblock %}

{% block fos_user_content %}
    <div class="span4 offset4">
        {% include "FOSUserBundle:Security:login_content.html.twig" with { 'show_well': true } %}
    </div>
{% endblock fos_user_content %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#username").focus();
        });
    </script>
{% endblock %}
