<form action="{{ path("fos_user_security_check") }}" {% if show_well %}class="well"{% endif %} method="post">
    {% if error %}
        <div class="alert alert-error">
            {{ error|trans({}, 'FOSUserBundle') }}
        </div>
    {% endif %}

    <h4>{% trans %}Logowanie{% endtrans %}</h4>
    <hr />
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input class="span3" id="username" name="_username" type="text" value="{{ last_username }}" />

    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input class="span3" id="password" name="_password" type="password" />

    <label class="checkbox" for="remember_me">
        <input id="remember_me" name="_remember_me" type="checkbox" value="on" /> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
    </label>
    <button class="btn btn-primary" id="_submit" name="_submit" type="submit">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
    <a href="{{ path('fos_user_resetting_request') }}">{% trans %}Nie pamiętam hasła{% endtrans %}</a>
    {{ facebook_login_button({'autologoutlink': true}) }}
 </form>
