{% extends 'EventHorizonRpgBundle::layout.html.twig' %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Strona główna{% endtrans %}{% endfilter %}
{% endblock %}

{% block content %}
    <div class="offset2 span8 well">
        <div class="span5">
            <h1 class="l1-hero-unit-h1">getACTIVE!</h1>
            <p class="l1-hero-unit-p">{% trans %}Dodaj element RPG do swojego życia! Wyznaczaj sobie cele, realizuj je i obserwuj rozwój swojej postaci. Podejmuj nowe wyzwania i mobilizuj się do ich wypełniania!{% endtrans %}</p>
            <ul class="l1-hero-unit-ul list_style_type_none">
                <li class="l1-hero-unit-li">{% trans %}Możesz grać w tą grę na{% endtrans %}:
                    <ul class="list_style_type_none">
                        <li class="l1-hero-unit-li"><i class="l1-icon-160-imac"></i> {% trans %}komputerach{% endtrans %}</li>
                        <li class="l1-hero-unit-li"><i class="l1-icon-162-ipad"></i> {% trans %}tabletach{% endtrans %}</li>
                        <li class="l1-hero-unit-li"><i class="l1-icon-163-iphone"></i> {% trans %}smartphonach{% endtrans %}</li>
                    </ul>
                </li>
                <li class="l1-hero-unit-li">
                    <i class="l1-icon-205-electricity"></i> {% trans %}Dzięki minimalnej grafice gra działa szybko jak błyskawica - nawet na smartphonach.{% endtrans %}
                </li>
            </ul>
            <p class="l1-hero-unit-p padding_bottom_1em padding_top_1em"><a class="btn btn-primary btn-large" href="{{ path('page_show', { 'name': 'help' }) }}">{% trans %}Dowiedz się więcej{% endtrans %} &raquo;</a></p>
        </div>
        <div class="hidden-phone hidden-tablet span2">
            <div class="fb-like-box" data-href="http://www.facebook.com/getactivepl" data-width="200" data-show-faces="true" data-stream="false" data-header="true"></div>
        </div>
        {% if not (is_granted('IS_AUTHENTICATED_FULLY')) %}
            <div class="clearfix"></div>
            <div class="padding_top_2em row">
                <div class="span4">
                    {% include "FOSUserBundle:Security:login_content.html.twig" with { 'csrf_token': login_form_csrf_token, 'error': 0, 'last_username': '', 'show_well': false } %}
                </div>
                <div class="span4">
                    {% include "FOSUserBundle:Registration:register_content.html.twig" with { 'form': register_form, 'show_well': false } %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
