{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Resetowanie hasła{% endtrans %}{% endfilter %}
{% endblock %}

{% block fos_user_content %}
    <div class="span8 offset2 well">
        <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
    </div>
{% endblock fos_user_content %}
