<div class="span4 offset4">
    <form action="{{ path('fos_user_resetting_send_email') }}" class="well" method="POST">
        {% if invalid_username is defined %}
            <div class="alert alert-error">
                <ul>
                    <li>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</li>
                </ul>
            </div>
        {% endif %}

        <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
        <input class="span3" id="username" name="username" type="text" />

        <button class="btn btn-primary" type="submit">{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</button>
    </form>
</div>
