<div class="span4 offset4">
    <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} class="well" method="POST">
        {{ form_errors(form) }}

        {{ form_errors(form.new.first) }}
        {{ form_label(form.new.first) }}
        {{ form_widget(form.new.first, { 'attr': {'class': 'span3'} }) }}

        {{ form_errors(form.new.second) }}
        {{ form_label(form.new.second) }}
        {{ form_widget(form.new.second, { 'attr': {'class': 'span3'} }) }}

        <button class="btn btn-primary" type="submit">{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}</button>

        {{ form_rest(form) }}
    </form>
</div>
