{% extends 'EventHorizonRpgBundle::layout.html.twig' %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Postacie{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><span class="divider">/</span> <a href="{{ path('show_characters') }}">{% trans %}Postacie{% endtrans %}</a></li>
{% endblock %}

{% block content %}
    <div class="span8 offset2 well">
        <table class="table table-bordered">
            <tr>
                <th class="width_50" style="text-align: right;">{% trans %}Postać{% endtrans %}</th>
                <th>{% trans %}Poziom{% endtrans %}</th>
            </tr>
            {% for character in characters %}
                <tr>
                    <td style="text-align: right;"><a href="{{ path('show_character', { 'user_id': character.user.id }) }}">{{ character.name }}</a></td>
                    <td>{{ character.level }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">{% trans %}Brak udostępnionych postaci{% endtrans %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
