{% extends 'EventHorizonRpgBundle::layout.html.twig' %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Zadanie{% endtrans %}{% endfilter %} - {{ journal.quest.title }}
{% endblock %}

{% block breadcrumb %}
    <li><span class="divider">/</span> <a href="{{ path('show_characters') }}">{% trans %}Postacie{% endtrans %}</a></li>
    <li><span class="divider">/</span> <a href="{{ path('show_character', { 'user_id': user_id }) }}">{% trans %}Postać{% endtrans %} - {{ character.name }}</a></li>
    {% if journal.isCompleted == 0 %}
        <li><span class="divider">/</span> <a href="{{ path('show_journals', { 'user_id': user_id, 'mode': 'todo' }) }}">{% trans %}Zadania{% endtrans %} - {% filter lower %}{% trans %}Do wykonania{% endtrans %}{% endfilter %}</a></li>
    {% elseif journal.isCompleted == 1 %}
        <li><span class="divider">/</span> <a href="{{ path('show_journals', { 'user_id': user_id, 'mode': 'done' }) }}">{% trans %}Zadania{% endtrans %} - {% filter lower %}{% trans %}Wykonane{% endtrans %}{% endfilter %}</a></li>
    {% endif %}
    <li><span class="divider">/</span> <a href="{{ path('show_journal', { 'journal_id': journal.id, 'user_id': user_id }) }}">{% trans %}Zadanie{% endtrans %}</a></li>
{% endblock %}

{% block content %}
    {% include 'EventHorizonRpgBundle:Journal:Show.html.twig' with { 'access_mode': 'visitor', 'display_mode': 'show' } %}
{% endblock %}
