{% extends 'EventHorizonRpgBundle::layout.html.twig' %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Zadania{% endtrans %}{% endfilter %} - {{ character.name }}
{% endblock %}

{% block breadcrumb %}
    <li><span class="divider">/</span> <a href="{{ path('show_characters') }}">{% trans %}Postacie{% endtrans %}</a></li>
    <li><span class="divider">/</span> <a href="{{ path('show_character', { 'user_id': user_id }) }}">{% trans %}Postać{% endtrans %} - {{ character.name }}</a></li>
    {% if is_completed == 0 %}
        <li><span class="divider">/</span> <a href="{{ path('show_journals', { 'user_id': user_id, 'mode': 'todo' }) }}">{% trans %}Zadania{% endtrans %} - {% filter lower %}{% trans %}Do wykonania{% endtrans %}{% endfilter %}</a></li>
    {% elseif is_completed == 1 %}
        <li><span class="divider">/</span> <a href="{{ path('show_journals', { 'user_id': user_id, 'mode': 'done' }) }}">{% trans %}Zadania{% endtrans %} - {% filter lower %}{% trans %}Wykonane{% endtrans %}{% endfilter %}</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'EventHorizonRpgBundle:Journal:List.html.twig' with { 'access_mode': 'visitor' } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            {% if is_completed == 0 %}
                $("#mode_todo").addClass("active");
            {% elseif is_completed == 1 %}
                $("#mode_done").addClass("active");
            {% endif %}

            {% if type == "all" %}
                $("#type_all").addClass("active");
            {% elseif type == "dream" %}
                $("#type_dream").addClass("active");
            {% elseif type == "training" %}
                $("#type_training").addClass("active");
            {% elseif type == "standard" %}
                $("#type_standard").addClass("active");
            {% endif %}
        });
    </script>
{% endblock %}
