{% extends 'EventHorizonRpgBundle::layout.html.twig' %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Nagroda{% endtrans %}{% endfilter %} - {{ reward.title }}
{% endblock %}

{% block breadcrumb %}
    <li><span class="divider">/</span> <a href="{{ path('show_characters') }}">{% trans %}Postacie{% endtrans %}</a></li>
    <li><span class="divider">/</span> <a href="{{ path('show_character', { 'user_id': user_id }) }}">{% trans %}Postać{% endtrans %} - {{ character.name }}</a></li>
    <li><span class="divider">/</span> <a href="{{ path('show_rewards', { 'user_id': user_id }) }}">{% trans %}Nagrody{% endtrans %}</a></li>
    <li><span class="divider">/</span> <a href="{{ path('show_reward', { 'user_id': user_id, 'reward_id': reward.id }) }}">{% trans %}Nagroda{% endtrans %}</a></li>
{% endblock %}

{% block content %}
    {% include 'EventHorizonRpgBundle:Reward:Show.html.twig' with { 'access_mode': 'visitor', 'display_mode': 'show' } %}
{% endblock %}
