{% extends 'EventHorizonRpgBundle::layout.html.twig' %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Statystyki{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><span class="divider">/</span> <a href="{{ path('show_statistics') }}">{% trans %}Statystyki{% endtrans %}</a></li>
{% endblock %}

{% block content %}
    <div class="span8 offset2 well">
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>{% trans %}Opis{% endtrans %}</th>
            </tr>
            <tr>
                <td>{{ journal_is_completed_count }}</td>
                <td>{% trans %}Ilość ukończonych zadań w grze{% endtrans %}</td>
            </tr>
            <tr>
                <td>{{ journal_is_hidden_count }}</td>
                <td>{% trans %}Ilość ukrytych zadań w grze{% endtrans %}</td>
            </tr>
            <tr>
                <td>{{ journal_is_visible_count }}</td>
                <td>{% trans %}Ilość widocznych dla wszystkich zadań w grze{% endtrans %}</td>
            </tr>
            <tr>
                <td>{{ journal_waiting_ftc_count }}</td>
                <td>{% trans %}Ilość oczekujących na ukończenie zadań w grze{% endtrans %}</td>
            </tr>
            <tr>
                <td>{{ journal_count }}</td>
                <td>{% trans %}Ilość wszystkich zadań w grze{% endtrans %}</td>
            </tr>
        </table>
    </div>
{% endblock %}
