.flag {
  display: inline-block;
  width: 16px;
  height: 11px;
  background:url('../img/flags.png') no-repeat;
}

.flag.flag-gb {background-position: -16px 0}
.flag.flag-pl {background-position: 0 -11px}
