@color-albescent-white: #f5e9ce; // autumn
@color-bali-hai:        #8ba6ac; // winter
@color-loblolly:        #bdcdd0; // winter
@color-mercury:         #f5f5f5; // autumn
@color-porcelain:       #f4f7f7; // winter
@color-tia-maria:       #cc510b; // autumn
