body {
  #gradient > .vertical(@color-bali-hai, @color-loblolly);
  padding-top: 60px;
  padding-bottom: 150px;
}

textarea {
  resize: vertical;
}

.breadcrumb {
  border: 1px solid darken(@color-porcelain, 30%);
  .border-radius(3px);
  .box-shadow(inset 0 1px 0 @white);
  #gradient > .vertical(@white, @color-porcelain);
  padding: 7px 11px;
}

.fb_iframe_widget {
  vertical-align: middle;
}

.l1-hero-unit-h1 {
  font-size: 60px;
  height: 60px;
  letter-spacing: -1px;
  line-height: 60px;
  margin-left: 41px;
  margin-right: 41px;
  margin-top: 41px;
}

.l1-hero-unit-li {
  padding-top: 1em;
}

.l1-hero-unit-p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  margin-bottom: 0px;
  margin-left: 41px;
  margin-right: 41px;
  margin-top: 10px;
}

.l1-hero-unit-ul {
  font-size: 18px;
  font-weight: 200;
  line-height: 32px;
  margin-bottom: 0px;
  margin-left: 41px;
  margin-right: 41px;
}

[class^="l1-icon-"],
[class*=" l1-icon-"] {
  background-image: url("../img/glyphicons.png");
  background-position: 32px 32px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  vertical-align: text-top;
  width: 32px;
}

.l1-icon-160-imac {
  background-position: 0px 0px;
}

.l1-icon-162-ipad {
  background-position: 0px -32px;
}

.l1-icon-163-iphone {
  background-position: 0px -69px;
}

.l1-icon-205-electricity {
  background-position: 0px -103px;
}

.l1-label {
  padding-bottom: 4px;
  padding-top: 4px;
  vertical-align: bottom;
}

.l1-label i {
  vertical-align: bottom;
}

.navbar-inverse {
  .brand {
    color: @color-bali-hai;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
  }
}

.well {
  border: 1px solid darken(@color-porcelain, 30%);
  .border-radius(3px);
  .box-shadow(inset 0 1px 0 @white);
  #gradient > .vertical(@white, @color-porcelain);
}
