.display_inline {
  display: inline;
}

.display_none {
  display: none;
}

.float_left {
  float: left;
}

.font_size_8px {
  font-size: 8px;
}

.font_size_11px {
  font-size: 11px;
}

.font_size_14px {
  font-size: 14px;
}

.font_weight_bold {
  font-weight: bold;
}

.font_weight_normal {
  font-weight: normal;
}

.list_style_type_none {
  list-style-type: none;
}

.margin_bottom_1em {
  margin-bottom: 1em;
}

.margin_right_1em {
  margin-right: 1em;
}

.padding_bottom_05em {
  padding-bottom: 0.5em;
}

.padding_bottom_1em {
  padding-bottom: 1em;
}

.padding_right_2em {
  padding-right: 2em;
}

.padding_top_1em {
  padding-top: 1em;
}

.padding_top_2em {
  padding-top: 2em;
}

.text_align_center {
  text-align: center;
}

.text_transform_uppercase {
  text-transform: uppercase;
}

.vertical_align_middle {
  vertical-align: middle;
}

.vertical_align_top {
  vertical-align: top;
}

.width_24px {
  width: 24px;
}

.width_25 {
  width: 25%;
}

.width_33 {
  width: 33%;
}

.width_34 {
  width: 34%;
}

.width_50 {
  width: 50%;
}

.width_100 {
  width: 100%;
}
