{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year, { 'attr': {'class': 'span2'} }),
                '{{ month }}': form_widget(form.month, { 'attr': {'class': 'span2'} }),
                '{{ day }}':   form_widget(form.day, { 'attr': {'class': 'span2'} }),
            })|raw }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}
