{% block field_errors %}
    {% if errors|length > 0 %}
        <div class="alert alert-error">
            <ul>
                {% for error in errors %}
                    <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock field_errors %}
