{% extends 'EventHorizonRpgBundle::layout.html.twig' %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Strony{% endtrans %}{% endfilter %}
{% endblock %}

{% block breadcrumb %}
    <li><span class="divider">/</span> <a href="{{ path('page') }}">{% trans %}Strony{% endtrans %}</a></li>
{% endblock %}

{% block content %}
    <div class="span8 offset2 well">
        {% for entity in entities %}
            <div class="span7">
                <h2><a href="{{ path('page_show', { 'name': entity.name }) }}">{{ entity.title|truncate(64) }}</a></h2>
            </div>
        {% endfor %}
    </div>
{% endblock %}
