{% extends 'EventHorizonRpgBundle::layout.html.twig' %}

{% block title %}
    {{ setup.gameName }} - {% filter lower %}{% trans %}Strony{% endtrans %}{% endfilter %} - {{ entity.title }}
{% endblock %}

{% block breadcrumb %}
    <li><span class="divider">/</span> <a href="{{ path('page') }}">{% trans %}Strony{% endtrans %}</a></li>
    <li><span class="divider">/</span> <a href="{{ path('page_show', { 'name': entity.name }) }}">{{ entity.title }}</a></li>
{% endblock %}

{% block content %}
    <div class="span8 offset2 well">
        <div class="page-header">
            <h3>{{ entity.title }}</h3>
        </div>
        <div class="span7">
            <p>{{ entity.content|raw }}</p>
        </div>
    </div>
{% endblock %}
